.characters {
  list-style: none;
  padding-left: 0;
}

.questionsGroup li {
  /* box-shadow:0 1px 6px 0 rgba(0,0,0,0.2),0 3px 6px 0 rgba(0,0,0,0.19) !important; */
  background-color: #eee;
  display: flex;
  align-items: center;
  border: solid 1px #969696;
  border-radius: 10px;
  padding: .5em  1em;
  margin-bottom: 1em;
  /* position: relative; */
}

.questionsGroup p {
  max-width: none;
  font-weight: bold;
  margin: 0;
}
