.characters {
  list-style: none;
  padding-left: 0;
}

.questions li {
  justify-content: space-between;
  background-color: #eee;
  display: flex;
  align-items: center;
  align-self: stretch;
  border: solid 1px #969696;
  border-radius: 10px;
  padding: 0em  1em;
  margin-bottom: 1em;
  max-width: 1000px;
}

.questions p {
  max-width: none;
  font-weight: bold;
  margin: 0;
}

.assessment-type-selector-closed {
  height: 60px !important;
  transition: height 0.4s;
}