@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;500&family=Noto+Sans:wght@300;500;700&display=swap");

@font-face {
  font-family: "Gidole";
  src: url("./assets/fonts/Gidole-Regular.ttf");
}

html {
  overflow-y: auto;
}

body {
  background-color: #ebebeb;
  font-family: "Noto Sans", sans-serif;
  font-weight: 300;
}

a {
  color: inherit;
  text-decoration: inherit;
}

p {
  cursor: default;
}

.App-logo {
  position: relative;
  top: -15px;
  left: 15px;
  max-width: 110px !important;
  height: auto;
}

.intro {
  background: url("./assets/car-images/2023-bmw-i7-flipped.webp");
  background-size: cover;
  background-position: 0% 75%;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.box-darken {
  padding: 30px;
  border-radius: 0px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.1) 0px 1px 6px;
  background-color: #ebebeb;
  transition: all 0.2s ease-in-out;
}

@media screen and (max-width: 1023px) {
  .content-area {
    /* height: inherit !important; */
  }

  .intro {
    box-shadow: none;
  }
  .box {
    max-width: 500px;
  }

  .section {
    padding-top: 10px !important;
  }
}

.content-area {
  height: calc(100vh - 5.1rem);
  /* min-height: calc(100vh - 5.1rem); */
  display: flex;
  flex-direction: column;
}

.intro > header > p {
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}

.navbar {
  max-height: 5.1rem !important;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.navbar-item img {
  max-height: 5rem !important;
}

.button.column {
  display: flex;
}

/* .button:focus {
color: white;
} */

#inspector-name {
  height: 100%;
  padding-top: 8px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
}

/* HELPERS */

.column-space-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.highlight-on-hover:hover {
  background-color: #f5f5f5;
}

.zoom-on-hover:hover {
  transform: scale(1.05);
}

/* SPINNER */
.loader-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #fff;
  opacity: 0;
  z-index: 999;
  transition: opacity 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}

.loader {
  height: 80px;
  width: 80px;
}

.is-active {
  opacity: 1;
  z-index: 1;
}
