.payment-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.payment-form, .payment-success {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 400px;
  border: 3px solid #6cbea4;
  border-radius: 5px;
  padding: 10px;
  margin: 20px;
  margin-top: 20px;
  max-width: 500px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.form-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-header-title {
  padding: 20px 0px;
  font-size: 24pt;
  font-weight: bold;
}

.form-footer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.StripeElement {
  width: 100%;
}

.stripe-logo,
.secure-payment-image {
  width: 30%;
  height: auto;
  padding: 10px;
}

.StripeElement {
  padding: 10px;
  border: 1px solid #6cbea4;
  border-radius: 10px;
  /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; */
}

.StripeElement--invalid {
  border: 1px solid red;
}

.error-message {
  position: relative;
  top: 0;
  color: red
}

#overlay {
  position: absolute; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
